@media (min-width: 200px) {
  .projects {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
  }

  .column-li {
    margin-bottom: 50px;
  }

  .column-ri {
    margin-bottom: 50px;
  }

  .pimage {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }

  .app-pic {
    width: 500px;
    height: 405px;
    border-radius: 5px;
  }

  .hdescription {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .icons {
    color: #14151c;
  }

  .progress-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #14151C;
    box-shadow: 2px 2px 2px #14151C;
    border-radius: 5px;
    width: 90px;
    height: 35px;
  }

  .progress-btn:hover {
    background-color: #E9C07D;
    box-shadow: 4px 4px 4px #6A7288;
    transition: 0.3s;
    font-weight: 600;
  }

  .stack-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .stack-set {
    display: flex;
    flex-direction: row;
  }

  .stack-icon {
    font-size: 24px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .column-li {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .column-ri {
    display: flex;
    flex-direction: row-reverse;
  }

  .progress-btn.right{
    align-self: self-end;
  }

  .pimage {
    display: flex;
    justify-content: center;
  }

  .column-li.text {
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .align-right {
    text-align: right;
  }

  .hdescription {
    display: flex;
    flex-wrap: wrap;
  }

  .progress-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #14151C;
    box-shadow: 2px 2px 2px #14151C;
    border-radius: 5px;
    width: auto;
    height: 35px;
    margin-bottom: 25px;
  }

  .stack-wrapper {
    display: flex;
    flex-direction: column;
  }

  .stack-set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    width: 968px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
  }
}
